<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Markdown Preview</title>
  </head>
  <body>

    <!-- Using the dash instead of the equal sign here allows us to input unescaped HTML -->
    <%- content %>

  </body>
</html>
